.bg-gradient-purple {
    background: rgb(133,11,180);
    background: linear-gradient(90deg, rgba(133,11,180,1) 0%, rgba(120,9,121,1) 35%, rgba(255,0,219,1) 100%);
}
body {
    background: rgb(133,11,180);
    background: linear-gradient(90deg, rgba(133,11,180,1) 0%, rgba(120,9,121,1) 35%, rgba(255,0,219,1) 100%);
}